body {
	background-color: lightgray;
}

button {
	display: block;
}

.add-color {
	color: blue;
}

.make-large {
	font-size: 100px;
}

#add-border {
	border: 2px solid white;
}

.add-rounding {
	border-radius: 15%;
}

article section:first-child {
	font-weight: bold;
}

article section:last-child {
	font-weight: bold;
	font-style: italic;
}